div.box{
    width:30vw;
    margin:auto;

    flex-direction: column;
}
div.go{
    justify-content: center;
    
    padding-top: 15px;
}
div#countdown{
    justify-content: center;
    margin-top: 6vh;
    margin-bottom: 4vh;

    font-size: 80px;
}
div.count{
    justify-content: space-between;
  
}
div.values{
    margin-top: 7rem;
    height: 100px;
    line-height: 1.5;

    flex-flow: column;
    justify-content: space-around;
}
p{

}